<div class="row">
  <div class="col-lg-4 offset-lg-4">
    <h2 class="titulo">Resultado</h2>
    <div class="row">
      <div class="col-lg-12">
        <div class="fondoItems">
          <div class="contenedor">
            <p class="resultado">{{resultado}}</p>
            <p class="numero">{{bmi}}</p>
            <p class="interpretacion">{{interpretacion}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-12">
        <button class="btn btn-primary btn-lg" routerLink="/">
          Re-Calculando
        </button>
      </div>
    </div>
  </div>
</div>
